{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


</head>
<body>
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li class="{% if active_menu == 'book' %}active{% endif %}">
                <a href="{% url 'book_list' %}">Books</a>
            </li>
            <li class="{% if active_menu == 'author' %}active{% endif %}">
                <a href="{% url 'author_list' %}">Authors</a>
            </li>
            <li class="{% if active_menu == 'todo' %}active{% endif %}" >
                <a href="{% url 'todo_list' %}">Todos</a>
            </li>
            <li class="{% if active_menu == 'contact' %}active{% endif %}" >
                <a href="{% url 'contact_list' %}">Contacts</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}
            
        {% endblock content %}
      
    </div>
</body>
</html>